<div class="bg-primary border-round shadow-5 m-2">
    <div class="flex justify-content-end flex-wrap">{{ dayData.number }}</div>
    <div class="row">
        <span class="pi pi-arrow-up-right" style="color: green">
            {{ dayData.income }}
        </span>

    </div>
    <div class="row flex justify-content-center flex-wrap">
        <div class="flex align-items-center justify-content-center w-4rem h-4rem">
            <span class="pi pi-arrow-down-left" style="color: red">
                {{ dayData.expense }}
            </span>
        </div>
    </div>
</div>