<div class="flex justify-content-center flex-wrap align-content-center whole-height">
    <div class="flex align-items-center justify-content-center border-round">
        <p-card header="Reset your password:">
            <div class="flex flex-column md:flex-row">
                <form [formGroup]="form">
                    <div class="row col-12">
                        <span class="p-float-label">
                            <input pInputText id="email" formControlName="email" />
                            <label for="email">E-mail</label>
                        </span>
                    </div>
                    <div class="row col-12">
                        <span class="p-float-label">
                            <p-password formControlName="password" id="password"[feedback]="true">
                                <ng-template pTemplate="header">
                                    <h6>Pick a password</h6>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">Suggestions</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>At least one lowercase</li>
                                        <li>At least one uppercase</li>
                                        <li>At least one numeric</li>
                                        <li>Minimum 8 characters, maximum 16 characters.</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                            <label for="password">Password</label>
                        </span>
                    </div>
                    <div class="row col-12">
                        <p-button type="submit" pRipple label="Reset" icon="pi pi-check" iconPos="right" [raised]="true"
                            (onClick)="onReset()"></p-button>
                    </div>
                    <small id="username-help">Enter your username to reset your
                        password.</small>
                </form>
            </div>
        </p-card>
    </div>
</div>